# Configurações do Google Cloud / APIs
GOOGLE_MAPS_KEY=sua_chave_do_google_maps_aqui
GEMINI_API_KEY=sua_chave_do_gemini_aqui

# Configurações de Deploy (HTTPS via Certbot)
DOMAIN=seusite.com.br
EMAIL=seu_email@dominio.com
