# Configurações do Google Cloud / APIs
GOOGLE_MAPS_KEY=sua_chave_do_google_maps_aqui
GOOGLE_API_KEY=sua_chave_do_gemini_aqui

# Configurações de Modelos (Opcional - Defaults embutidos)
TEXT_MODEL=gemini-2.5-flash
AUDIO_MODEL=gemini-3.1-flash-live-preview

# Configurações de Deploy (HTTPS via Certbot)
DOMAIN=seusite.com.br
EMAIL=seu_email@dominio.com
